user_data
*pycache*
*/*pycache*
*/*/pycache*
venv/
.venv/
.vscode
repositories

RVC

*RVC*
Retrieval-based-Voice-Conversion-WebUI/
*Retrieval-based-Voice-Conversion-WebUI*
*Retrieval-based-Voice-Conversion-WebUI*/
hubert_base.pt